<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Send every request to the public directory (skip if already there)
    RewriteRule ^(?!public/)(.*)$ public/$1 [L]
</IfModule>
