<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Send every request to the public directory (skip if already there)
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
